h2#imPgTitle {float: left; }
.imContentDataContainer { width: 950px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
#imPgTitle { width: 936px; margin-left: 6px; margin-right: 6px; }

